[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
webcandy-client = {editable = true,path = "."}

[packages]
opclib = "*"
requests = "*"
websockets = "*"

[requires]
python_version = "3.7"
